[build]
builder = "nixpacks"

[build.nixpacks]
NODE_VERSION = "20"

[deploy]
startCommand = "npm run start"
healthcheckPath = "/"
healthcheckTimeout = 300
restartPolicyType = "on_failure"
restartPolicyMaxRetries = 3
